/* inherit */
body {
    margin: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-wrapper {
    display: flex;
    height: 100vh;
    gap: 10px;
    .page-view {
        width: 100%;
    }
}
